bin/
obj/
.git/
.gitignore
Dockerfile*
docker-compose*

node_modules/
*.log
*.tmp
*.swp

.vscode/
.idea/

.env
*.db
*.sqlite

**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.DotSettings.user

Deployment/Dev/data/
Deployment/Dev/secrets/
Deployment/Dev/certs/
Deployment/Dev/keypair/

**/.env
**/*.log
**/*.tmp
**/*.swp
**/*.db
**/*.sqlite

**/node_modules/
