apiVersion: v1
kind: Service
metadata:
  name: ${API_GATEWAY_CONTAINER_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app: ${API_GATEWAY_CONTAINER_NAME}
    app.kubernetes.io/name: ${API_GATEWAY_CONTAINER_NAME}
    app.kubernetes.io/component: api-gateway
spec:
  type: ClusterIP
  selector:
    app: ${API_GATEWAY_CONTAINER_NAME}
  ports:
    - name: https
      port: ${API_GATEWAY_HTTPS_PORT}
      targetPort: https
    - name: admin
      port: ${API_GATEWAY_ADMIN_PORT}
      targetPort: admin
