apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${API_GATEWAY_CONTAINER_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app: ${API_GATEWAY_CONTAINER_NAME}
    app.kubernetes.io/name: ${API_GATEWAY_CONTAINER_NAME}
    app.kubernetes.io/component: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${API_GATEWAY_CONTAINER_NAME}
  template:
    metadata:
      labels:
        app: ${API_GATEWAY_CONTAINER_NAME}
        app.kubernetes.io/name: ${API_GATEWAY_CONTAINER_NAME}
        app.kubernetes.io/component: api-gateway
    spec:
      containers:
        - name: ${API_GATEWAY_CONTAINER_NAME}
          image: envoyproxy/envoy:${ENVOY_TAG}
          imagePullPolicy: IfNotPresent
          command: ["envoy", "-c", "/etc/envoy/envoy.yaml"]
          ports:
            - name: https
              containerPort: ${API_GATEWAY_HTTPS_PORT}
            - name: admin
              containerPort: ${API_GATEWAY_ADMIN_PORT}
          volumeMounts:
            - name: api-gateway-config
              mountPath: /etc/envoy/envoy.yaml
              subPath: envoy.yaml
              readOnly: true
            - name: api-gateway-certs
              mountPath: /etc/envoy/certificates
              readOnly: true
      volumes:
        - name: api-gateway-config
          configMap:
            name: api-gateway-config
            items:
              - key: envoy.yaml
                path: envoy.yaml
        - name: api-gateway-certs
          secret:
            secretName: ${API_GATEWAY_CERT_SECRET_NAME}
