apiVersion: v1
kind: Service
metadata:
  name: ${BACKEND_CONTAINER_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app: ${BACKEND_CONTAINER_NAME}
    app.kubernetes.io/name: ${BACKEND_CONTAINER_NAME}
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app: ${BACKEND_CONTAINER_NAME}
  ports:
    - name: http
      port: ${BACKEND_CONTAINER_PORT}
      targetPort: http
