apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${BACKEND_CONTAINER_NAME}
  namespace: ${K8S_NAMESPACE}
  labels:
    app: ${BACKEND_CONTAINER_NAME}
    app.kubernetes.io/name: ${BACKEND_CONTAINER_NAME}
    app.kubernetes.io/component: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${BACKEND_CONTAINER_NAME}
  template:
    metadata:
      labels:
        app: ${BACKEND_CONTAINER_NAME}
        app.kubernetes.io/name: ${BACKEND_CONTAINER_NAME}
        app.kubernetes.io/component: backend
    spec:
      containers:
        - name: ${BACKEND_CONTAINER_NAME}
          image: ${NAMESPACE}/${REPOSITORY_NAME}/backend:${BACKEND_TAG}
          imagePullPolicy: Never
          ports:
            - name: http
              containerPort: ${BACKEND_CONTAINER_PORT}
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
