# Backend chart override values.
namespace:
  create: false
  name: ${K8S_NAMESPACE}

fullnameOverride: ${BACKEND_CONTAINER_NAME}

image:
  repository: ${NAMESPACE}/${REPOSITORY_NAME}/backend
  tag: ${BACKEND_TAG}
  pullPolicy: Never

containerPort: ${BACKEND_CONTAINER_PORT}

service:
  type: ClusterIP
  port: ${BACKEND_CONTAINER_PORT}

env:
  ASPNETCORE_ENVIRONMENT: Development

---
# API gateway chart override values.
namespace:
  create: false
  name: ${K8S_NAMESPACE}

fullnameOverride: ${API_GATEWAY_CONTAINER_NAME}

image:
  repository: envoyproxy/envoy
  tag: ${ENVOY_TAG}
  pullPolicy: IfNotPresent

containerPorts:
  https: ${API_GATEWAY_HTTPS_PORT}
  admin: ${API_GATEWAY_ADMIN_PORT}

service:
  type: ClusterIP
  httpsPort: ${API_GATEWAY_HTTPS_PORT}
  adminPort: ${API_GATEWAY_ADMIN_PORT}

gateway:
  host: ${BACKEND_HOSTNAME}
  externalPort: ${GATEWAY_PORT}

backend:
  serviceName: ${BACKEND_CONTAINER_NAME}
  servicePort: ${BACKEND_CONTAINER_PORT}

tls:
  create: false
  existingSecret: ${API_GATEWAY_CERT_SECRET_NAME}
  certFileName: ${API_GATEWAY_CERT_FILE_NAME}
  keyFileName: ${API_GATEWAY_KEY_FILE_NAME}
